@page
@model DatabaseApp.Pages.Manufacturers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.CompanyName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.CompanyName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.Country)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Manufacturer.ManufacturerID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
