@page
@model DatabaseApp.Pages.Manufacturers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Manufacturer) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ManufacturerID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ManufacturerID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ManufacturerID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
