@page
@model DatabaseApp.Pages.Cars.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].EngineSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].ManufacturerID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Car)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EngineSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerID)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.CarID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.CarID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.CarID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
